(moksha_routes) {
	encode zstd gzip

	handle /api/v1/* {
		reverse_proxy django:8000
	}

	handle /admin/* {
		reverse_proxy django:8000
	}

	handle /static/* {
		reverse_proxy django:8000
	}

	handle {
		reverse_proxy nuxt:3000
	}
}

https://localhost:8443, https://127.0.0.1:8443 {
	tls internal
	import moksha_routes
}

http://localhost:3057, http://127.0.0.1:3057 {
	import moksha_routes
}
